body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.container {
    text-align: center;
    margin-bottom: 50px; 
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
}

#movieTitle {
    padding: 10px;
    font-size: 1em;
}

#movieInfo {
    margin-top: 20px;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeInOut 0.5s ease-in-out;
}

@keyframes fadeInOut {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    color: #3498db;
}

p {
    margin: 10px 0;
}

img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #ecf0f1;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.hidden {
    display: none;
}

a {
    padding: 10px;
    margin: 5px;
    background-color: #0dadb3;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  a:hover,
  a:active {
    background-color: #ffffff;
    color: #0dadb3;
  }

  button{
    padding: 10px;
    margin: 5px;
    background-color: #0dadb3;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
  }
  
  button:hover,
  button:active {
    background-color: #ffffff;
    color: #0dadb3;
  }